:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #FFFFFF;

  --grey-600: #78828e;
  --grey-400: #aebacb;
  --grey-100: #f5f6f8;

  --blue-500: #109cf1;

  --radius: 0.5rem;
}

body {
  margin: 0;
}
